*.fits
*.vot
*.reg
*.db
.idea
*.mim
*.png
*images.txt
work
.nextflow*
.vscode
*.[1-9]
*.sif
*.pyc
*~
env/*
*.dot
*.html
trace.txt*
*.egg-info
version.txt
dist/*
profiling.md
*.swp
/docs/_build
/docs/build
/docs/doctrees
example_data/
