#! /usr/bin/env nextflow
// for executing without a container
params.codeDir = "${baseDir}/"

// input images are listed in this file, one image per line
params.image_file = "$baseDir/images.txt"

// Warping stage
params.warp = true
params.ref_catalogue = "$baseDir/master.fits"
params.refcat_ra = 'ra'
params.refcat_dec = 'dec'

// Plotting params
params.by_epoch = true

// name of monitoring file - set to null if not required
params.monitor=''

// calling stilts
params.stilts = "java -jar /home/paulhancock/PawseyTraining/stilts/stilts.jar"

// Source finding params
params.region_file = "$baseDir/square.mim"

// output directory
params.output_dir = 'results/'

// turn on a ll the juicy logging
trace.enabled = true
timeline.enabled = true
report.enabled = true
dag.enabled = true


profiles {

    common {
      process{
       publishDir = [path:params.output_dir, mode:'link', overwite:true]

      }
    }

//    standard {
//      process{
//        executor = 'local'
//        }
//      docker {
//        runOptions='-u $(id -u):$(id -g)'
//        enabled = true
//      }       
//    }

    zeus {
      singularity {
        enabled = true
        autoMounts = true
      }
      process {
        executor = 'slurm'
        queue = 'workq'
        cpus = 28
        memory = '60 GB'
        time = '1 h'
        container = 'paulhancock/robbie-next'
      }
    }

    magnus {
      signularity{enabled=true}
      process{
        executor = 'slurm'
        queue = 'workq'
        cpus = 24
        memory = '60 GB'
        time = '1 h'
      }
    }
}

