#! /usr/bin/env nextflow
// for executing without a container
params.codeDir = "${baseDir}/"

// input images are listed in this file, one image per line
params.image_file = "${baseDir}/images.txt"

// Warping stage
params.warp = true
params.ref_catalogue = "${baseDir}/master.fits"
params.refcat_ra = 'ra'
params.refcat_dec = 'dec'

// Plotting params
params.by_epoch = true

// name of monitoring file - set to null if not required
params.monitor=''

// calling stilts
//params.stilts = "java -jar /home/paulhancock/PawseyTraining/stilts/stilts.jar"

// Source finding params
params.region_file = "$baseDir/square.mim"

// output directory
params.output_dir = 'results/'

// turn on all the juicy logging
trace.enabled = true
timeline.enabled = true
report.enabled = true
dag.enabled = true


profiles {
    local {
      executor {
        name = 'local'
        queueSize = 2
        cpus = 6
        memory = 24G
      }
      process.container = 'robbie-next:latest'
      docker {
        enabled = false
        temp = 'auto'
        runOptions = '--user "$(id -u):$(id -g)"'
      }
    }
    hpc {
      singularity {
        enabled = true
        autoMounts = true
        cacheDir = '/group/mwasci/phancock/.singularity'
        runOptions = '-B /pawsey'
      }
      executor {
        name = 'slurm'
        clusterOptions = '--account=pawsey0345'
        submitRateLimit = '10 sec'
        queueSize = 96
        account = 'pawsey0345'
      }

      process {
       publishDir = [path:params.output_dir, mode:'link', overwite:true]
      }

    }

    zeus {
      process {
        executor = 'slurm'
        queue = 'workq'
        cpus = 28
        memory = '60 GB'
        time = '1 h'
        container = 'paulhancock/robbie-next'
      }
    }

    magnus {
      process{
        executor = 'slurm'
        queue = 'workq'
        cpus = 24
        memory = '60 GB'
        time = '1 h'
        container = 'paulhancock/robbie-next'
      }
    }
}

