// input images are listed in this file, one image per line
params.image_file = "$baseDir/images.txt"

// database to use
params.db = 'sqlite3'
params.db_file = "$baseDir/flux_table.db"

// Warping stage
params.warp = false
params.ref_catalogue = "$baseDir/master.fits"
params.refcat_ra = 'ra'
params.refcat_dec = 'dec'

// name of monitoring file - set to null if not required
params.monitor='monitor.fits'

// calling stilts
params.stilts = "java -jar /data/nextflow/stilts/stilts.jar"

// Source finding params
params.region_file = "$baseDir/square.mim"

// output directory
params.output_dir = 'results/'

profiles {

    common {
      process{
       publishDir = [path:params.output_dir, mode:'link', overwite:true]
      }
    }

    standard {
      process{executor = 'local'}
      docker {
        runOptions='-u $(id -u):$(id -g)'
        enabled = true
      }       
    }

    zeus {
      signularity{enabled=true}
      process {
        executor = 'slrum'
        queue = 'workq'
        cpus = 28
        memory = '60 GB'
        time = '1 h'

        withName: 'bane_raw' {
          queue = 'copyq'
        }
      }
    }

    magnus {
      signularity{enabled=true}
      process{
        executor = 'slurm'
        queue = 'workq'
        cpus = 24
        memory = '60 GB'
        time = '1 h'
      }
    }
}

