#! /usr/bin/env nextflow

params.output_dir = "${baseDir}/results/0.5s_coarse"
params.image_base = "/astro/mwasci/phancock/D0009/processing/"
params.xm_base = "/astro/mwasci/phancock/nxf/Robbie/results/0.5s/"

// turn on all the juicy logging
trace.enabled = true
timeline.enabled = true
report.enabled = true
dag.enabled = true


profiles {

    common {
      process {
       publishDir = [path:params.output_dir, mode:'link', overwite:true]
       cache = 'lenient'
      }
      singularity {
        enabled = true
        autoMounts = true
      }
      executor {
        name = 'slurm'
        clusterOptions = '--account=pawsey0345'
        submitRateLimit = '10 sec'
        queueSize = 96
        account = 'pawsey0345'
      }
    }

    zeus {
      process {
//        executor = 'slurm'
        queue = 'knlq'
        cpus = 64 //{process.queue=='workq'?28:64}
        memory = '90 GB' //''{process.queue=='workq'?'120 GB':'90 GB'}
        time = '3 h'
        container = 'paulhancock/robbie-next'
//        containerOptions = "-B ${params.image_base} -B ${params.xm_base}"
//        account = 'pawsey0345'
//        submitRateLimit = '10 sec'
        
      }
    }

    magnus {
      process {
//        executor = 'slurm'
        queue = 'workq'
        cpus = 24
        memory = '90 GB'
        time = '1 h'
        container = 'paulhancock/robbie-next'
        account = 'pawsey0345'
        submitRateLimit = '10 sec'
      }
    }
}

