#! /usr/bin/env nextflow
// for executing without a container
params.codeDir = ""

// input images are listed in this file, one image per line
params.image_file = "/astro/mwasci/phancock/GRB_processing/2m_images.txt"

// Warping stage
params.warp = true
params.ref_catalogue = "$baseDir/GLEAM_EGC.fits"
params.refcat_ra = 'RAJ2000'
params.refcat_dec = 'DEJ2000'

// Plotting params
params.by_epoch = true

// name of monitoring file - set to null if not required
params.monitor='/astro/mwasci/phancock/GRB_processing/GRB180805A_05s_persistent_sources.fits'

// calling stilts
params.stilts = "stilts"

// Source finding params
// region file to include full path (eg prepend with ${basedir} or give full path)
params.region_file = ""

// output directory
params.output_dir = 'results/2m/'

// turn on a ll the juicy logging
trace.enabled = true
timeline.enabled = true
report.enabled = true
dag.enabled = true


profiles {

    common {
      process {
       publishDir = [path:params.output_dir, mode:'link', overwite:true]
       cache = 'lenient'
      }
      singularity {
        enabled = true
        autoMounts = true
      }
    }

    zeus {
      process {
        executor = 'slurm'
        queue = 'workq,knlq'
        cpus = {process.queue=='workq'?28:64}
        memory = {process.queue=='workq'?'120 GB':'90 GB'}
        time = '1 h'
        container = 'paulhancock/robbie-next'
        account = 'pawsey0345'
        submitRateLimit = '10 sec'
        
        withName: 'source_monitor' {
                 queue = 'workq'
                 cpus = 28
                 memory = '120 GB'
        }
      }
    }

    magnus {
      process {
        executor = 'slurm'
        queue = 'workq'
        cpus = 24
        memory = '90 GB'
        time = '1 h'
        container = 'paulhancock/robbie-next'
        account = 'pawsey0345'
        submitRateLimit = '10 sec'
      }
    }
}

